<html>
    <head>
        <title>Garden of Myllypuro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
          body {
            padding-top: 5rem;
          }
          .container {
            padding: 1rem 0;
          }

          .latest, .night-low {
            display: flex;
            flex-wrap: wrap;
            margin-top: .5rem;
            margin-bottom: 1.5rem;
          }
        </style>
    </head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="/">Garden of Myllypuro</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/graphs">Graphs</a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="container">
        <h1>Cool chart here</h1>
        <canvas id="examChart"></canvas>
        <script>
            var ctx = document.getElementById("examChart").getContext("2d");

            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }},
                datasets: {{ datasets|safe }}
            }
            });
        </script>
        </main>
    </body>
</html>